{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}演習todo{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
    <style>
        body{
            position: relative;
            background-color: #eee;
            height: 300px;
        }
        #topnav{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .btn {
            border-radius: 5px;
            background-color: lightblue;
            padding: 15px;
            margin: 30px;
            text-decoration: none;
            color: #000;
        }
    </style>
</head>
<body>
    <div id="topnav">
        <h1>ToDo menu：</h1>
        <a href="{% url 'todo:todo_list' %}" class="btn">タスク一覧</a>
        <a href="{% url 'todo:todo_status' %}" class="btn">進捗状況</a>
        <a href="{% url 'todo:todo_create' %}" class="btn">新規作成</a>
    </div>
</body>
</html>