{% extends 'base.html' %}

{% block content %}
<div class="center">
    <h1>タスク一覧（全{{ todo_count }}件）</h1>
    <form method="GET" class="flex_box">
        {{ form.as_div  }}<button type="submit">検索</button>
    </form>
    <table class="list_th">
        <tr>
            <th>ToDo</th>
            <th>締切日</th>
            <th>カテゴリ</th>
            <th>更新日時</th>
        </tr>
    </table>
    {% for todo in todo_list %}
    <table class="list_td">
        <tr>
            <td><a href="{% url 'todo:todo_detail' todo.id %}">{{ todo.title }}</a></td>
            <td>{% if todo.deadline is not None %}
                {{ todo.deadline | date:"Y/m/d H:i"}}
                {% endif %}</td>
            <td>{% if todo.category is not None %}
                {{ todo.category }}
                {% endif %}</td>
            <td>{{ todo.updated_at }}</td>
        </tr>
    </table>
{% endfor %}
</div>

<!--ページネーション-->
<div id="page">
    {% load mytags %}
    {% if page_obj.has_previous %}
        <a href="?{%  url_replace request 'page' page_obj.previous_page_number %}">前のページへ</a>
    {% endif %}

    {% for link_page in page_obj.paginator.page_range %}
        {% if link_page == page_obj.number %}
            <span>{{ link_page }}</span>
        {% else %}
        <a href="?{%  url_replace request 'page' link_page %}">{{ link_page }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?{%  url_replace request 'page' page_obj.next_page_number %}">次のページへ</a>
    {% endif %}
<!--/ページネーション-->
    <p>{{ todo_count }} 件中 {{ todo_list.count }} 件を表示</p>
</div>
{% endblock %}