{% extends 'base.html' %}

{% block content %}
<div class="center">
    <h1>{{ todo.title }} の削除</h1>
    <form method="post">
        {% csrf_token %}
        "{{ todo.title }}" を削除してもよろしいですか?
        <table class="detail_table">
            <tr><th>ToDo名：</th><td>{{ todo.title }}</td></tr>
            <tr><th>進捗状況：</th><td>{{ todo.status }}</td></tr>
            <tr><th>カテゴリ：</th><td>{{ todo.category }}</td></tr>
        </table>
        <div class="button_center">
            <input type="submit" value="削除" class="button">
        </div>
    </form>
</div>
{% endblock %}
