{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}演習todo{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
</head>
<body>
    <nav id="menu">
        <ul>
            <li><a href="{% url 'todo:todo_list' %}">タスク一覧</a></li>
            <li><a href="{% url 'todo:todo_status' %}">進捗状況</a></li>
            <li><a href="{% url 'todo:todo_create' %}">新規作成</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>